body {
    padding-top: 55px;
}

/* mobile navbar sidebar under lg breakpoint */
@media (max-width: 768px) {
    
    .navbar-collapse.collapsing .navbar-nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -25%;
        transition: all 0.2s ease;
    }

    .navbar-collapse.show .navbar-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        height: auto;
        width: 200px;
        transition: left 0.35s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
}

.primary-color{
    color: #FF6700 !important;
}

.mi-home{
    font-weight: bold;
    font-size: 23px;
}

.hover-blue:hover{
    border-bottom: 1px solid #FF6700 !important;
  }

.text-center{
    text-align: center;
}

.width80{
    width: 80%;
}

.margin-lr-zero{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.margin-top{
    margin-top: 20px;
}

.details-margin{
    margin-top: 4%;
}

del{
    color: red;
    font-size: small;
}

.product-details{
    margin: 0px 32px;
}

.color-grey{
    color: #757575;

}

.price {
    margin: 16px 0 20px;
    font-size: 16px;
}

.quantity-align{
    display: inline-flex;
}

.label-align{
    margin-right: 10px;
    padding-top: 7px;
}

.highlight-margin{
    margin-top: 10px;
}

.price-margin{
    margin-left: 10px;
}

.cart-align{
    margin-top: 35px;
}

.frame{
    margin: 35px auto 0px auto;
    padding: 0 24px 20px 24px;
    max-width: 900px;
    overflow: hidden;
}

.align-center{
    text-align-last: center;
}

.table td, .table th {
    vertical-align: middle;
}

.cart-item{
    width: 40px;
    margin-right: 10px;
}

.cursor-pointer{
    cursor: pointer;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 24px;
}